<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="ClientId" value="3363527-8530-4abf-b95d-b0d911f924f5" />
    <add key="ClientSecret" value="onDXVTr+2rDkQMFJ4KIzSmcGBZGnFfI3KEktZN9ckKs=" />
    <add key="CertThumb" value="E96B4E48107A65E3423EC02A4F5B41C0BB9256A6" />
    <add key="ApiUrl" value="https://doesnotmatter.crm6.dynamics.com/api/data/v9.0/" />    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>